# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Python env
.env

# Logs
*.log

# Build
build/
dist/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# API Secrets
API/*.json
API/*.env